DJANGO_SECRET_KEY='django-insecure-%cvy1mtnxh72q&@80ly-4p^5*8k+72y#py(y_3iz!l9tsl5e8r'
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Use SQLite
USE_SQLITE=true

# When USE_SQLITE is false, Postgres connection
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Email: console prints messages in the terminal
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=events@example.com
